---
layout: toctree
title: Blog
permalink: /blog/

previewchild: true
enumerategrandchild: true
previewgrandchild: true
hidetoc: true
---



<ul>
    {% for post in site.posts %}
    {% if post.layout == "post" %}
    <li>
        <h3>
            <a href="{{site.url}}{{post.url}}">{{post.title}}</a>
        </h3>
        {{ post.excerpt }}
        <div class="date">
            Written on {{ post.date | date: "%B %e, %Y" }}
        </div>
        <a class="read-more" href="{{site.url}}{{post.url}}">read more...</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>