<ul>
    {% if page.max_num_posts %}


    {% assign counter = 1 %}

    {% for post in site.posts %}
    {% if post.layout == "post" and post.url contains page.url %}
    <li>
        <h3>
            <a href="{{site.url}}{{post.url}}">{{post.title}}</a>
        </h3>
        {{ post.excerpt }}
        <div class="date">
            Written on {{ post.date | date: "%B %e, %Y" }}
        </div>
        [<a class="read-more" href="{{site.url}}{{post.url}}">Read more ...</a>]
    </li>
    {% endif %}

    {% if counter == page.max_num_posts %}
    {% break %}
    {% endif %}

    {% assign counter = counter + 1 %}

    {% endfor %}
    {% endif %}

</ul>