<ul>
    {% assign counter = 0 %}
    {% assign page_url_array = page.url|split:'/' %}
    {% assign page_name = page_url_array[-1] %}
    {% assign page_tags = page_name| split:"-" %}

    {% for post in site.posts %}
    {% if counter >= page.max_num_posts %}
    {% break %}
    {% endif %}
    {% if post.layout contains "post"%}

    {% assign contains_page_tag = false %}
    {% for tag in page_tags %}
    {% if post.tags contains tag %}
    {% assign contains_page_tag = true %}
    {% break %}
    {% endif %}
    {% endfor %}

    {% if post.url contains page.url or contains_page_tags %}
    <li>
        <h3>
            <a href="{{site.url}}{{post.url}}">{{post.title}}</a>
        </h3>
        {{ post.excerpt }}
        <div class="date">
            Written on {{ post.date | date: "%B %e, %Y" }}
        </div>
        [<a class="read-more" href="{{site.url}}{{post.url}}">Read more ...</a>]
    </li>
    {% assign counter = counter + 1 %}
    {% endif %}
    {% endif %}
    {% endfor %}

</ul>