<ul>
    {% assign counter = 0 %}
    {% assign page_url_array = page.url|split:'/' %}
    {% assign page_name = page_url_array[-1] %}
    {% assign page_tags = page_name| split:"-" %}

    {% for post in site.posts %}
    {% if counter >= page.max_num_posts %}
    {% break %}
    {% endif %}
    {% if post.layout contains "post"%}

    {% assign contains_page_tags = false %}
    {% for tag in page_tags %}
    {% if post.tags contains tag %}
    {% assign contains_page_tags = true %}
    {% break %}
    {% endif %}
    {% endfor %}

    {% if post.url contains page.url or contains_page_tags %}
    <li>
        <h3>
            <a href="{{site.url}}{{post.url}}">{{post.title}}</a>
        </h3>

        <table class="date-tags">
            <tr>
                <td class="date">
                    {{ post.date | date: "%b %e, %Y" }}
                </td>
                <td class="separator"><wbr></td>
                <td class="tags">
                    {% if post.tags.size > 0%}
                    {% if post.tags.size > 1%}
                    &#xf02c;
                    {% else%}
                    &#xf02b;
                    {% endif %}
                    {% for tag in post.tags%}
                    <a class="tag-instance">
                        {{tag}}
                    </a>
                    <!-- TODO add url -->
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
        {{ post.excerpt }}
    </li>
    {% assign counter = counter + 1 %}
    {% endif %}
    {% endif %}
    {% endfor %}

</ul>