---
layout: default
enumerate_grand_children: false
---

{% assign page_url_array = page.url|split:"/" %}
{% assign page_url_popped = page_url_array|pop %}
{% assign page_url_popped2 = page_url_array|pop:2%}
{% assign page_parent = page_url_popped|join:"/" %}
{% assign page_parent = page_parent|append:"/" %}
{% assign page_grand_parent = page_url_popped2|join:"/" %}
{% assign page_grand_parent = page_grand_parent|append:"/" %}
{% if page_parent%}
{% for post in site.posts%}
{% if post.url == page_parent %}
{% assign parent_title = post.title%}
{% break %}
{% endif %}
{% endfor %}
{% endif %}

<article>
    <h1>
        {% if page_parent.size > 1 %}
        {% if page_grand_parent.size > 1 %}
        <a href="{{ site.baseurl }}{{ page_grand_parent }}" class="desktop--only">
            {% include svg-box-arrow-left.html %}
        </a>
        {% endif %}

        <a href="{{ site.baseurl }}{{ page_parent }}">
            <span class="mobile-only">
                {% include svg-box-arrow-left.html %}
            </span>
            <span class="desktop-only">
                {{parent_title}}
                &gt;
            </span>
        </a>
        {% endif %}
        {{ page.title }}
    </h1>

    <div class="grid-container">
        <div class="sidebar collapse">

            <h3 style="padding-left: 2px;">
                {% if page.toc_title %}
                {{page.toc_title}}
                {% else %}
                Contents
                {% endif %}
            </h3>

            <ol>
                {% assign sorted_post = site.posts|sort %}
                {% for post in sorted_post %}
                {% assign post_url = post.url|split:"/" %}
                {% assign post_parent = post_url|pop %}
                {% assign page_url = page.url|split:"/"%}

                {%if post_parent == page_url and post.layout == "root-directory" %}
                <li>
                    <div>
                        <a href="{{site.url}}{{ site.baseurl }}{{ post.url }}">
                            {{ post.title }}
                        </a>
                        <div class="desktop-only">
                            <ul>
                                {% for child_post in sorted_post %}
                                {% assign child_post_url_array = child_post.url|split:"/" %}
                                {% assign child_post_parent = child_post_url_array|pop %}
                                {% if child_post_parent == post_url%}
                                <li>
                                    <a href="{{ site.baseurl }}{{ child_post.url }}">{{ child_post.title }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>

        <div class="entry content-main">
            {{ content }}
            {% include root-dir-contents.html %}
        </div>
    </div>

</article>