---
layout: default
enumerate_grand_children: false
---

<article>
    <h1>
        {% if page.parent %}
        {% for post in site.posts%}
        {% if post.url == page.parent %}
        {% assign parent = post%}
        {% break %}
        {% endif %}
        {% endfor %}
        {% if parent.parent %}
        <a href="{{ site.baseurl }}{{ parent.parent }}">
            ..
        </a>
        &#8827;
        {% endif %}
        <a href="{{ site.baseurl }}{{ page.parent }}">
            {{parent.title}}
        </a>
        &#8827;
        {% endif %}
        {{ page.title }}
    </h1>

    <div class="grid-container">
        <div class="toc">
            <h3>
                {% if page.toc_title %}
                {{page.toc_title}}
                {% else %}
                Contents
                {% endif %}
            </h3>
            <ol>
                {% assign sorted_post = site.posts|sort %}
                {% for post in sorted_post %}
                {%if post.parent == page.url %}
                <li>
                    {% if page.enumerate_grand_children == true and post.layout == "toctree" %}
                    <details>
                        <summary>
                            {% endif %}
                            <a href="{{site.url}}{{ site.baseurl }}{{ post.url }}">
                                {{ post.title }}
                            </a>
                            {% if page.enumerate_grand_children == true %}
                        </summary>
                        <ul>
                            {% for child_post in sorted_post %}
                            {% if child_post.parent == post.url%}
                            <li>
                                <a href="{{ site.baseurl }}{{ child_post.url }}">{{ child_post.title }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>

        <div class="entry contentmain">
            {{ content }}
            {% include toctree-contents.html%}
        </div>
    </div>

</article>